<div id="main-wrapper">
    <app-header></app-header>
   <div class="page-wrapper">
       <div class="container-fluid">
           <div class="card">
               <div class="card-body">
                   <h4 class="card-title">Sample User Data List</h4>
                   <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2"
                   [infiniteScrollUpDistance]="1.5"
                   [infiniteScrollThrottle]="50" [scrollWindow]="false"
                   (scrolled)="onScroll()">
                       <table class="table no-wrap" >
                           <thead>
                               <tr>
                                   <th>Action</th>
                                   <th>Sno</th>
                                   <th>Id</th>
                                   <th>Name</th>
                                   <th>Phone</th>
                                   <th>Email</th>
                                   <th>Company</th>
                                   <th>Date Entry</th>
                                   <th>OrgNum</th>
                                   <th>Address</th>
                                   <th>City</th>
                                   <th>Zip</th>
                                   <th>Geo</th>
                                   <th>Pan</th>
                                   <th>Pin</th>
                                   <th>Status</th>
                                   <th>Fee</th>
                                   <th>Guid</th>
                                   <th>Date Exit</th>
                                   <th>Date First</th>
                                   <th>Date Recent</th>
                                   <th>Url</th>
                               </tr>
                           </thead>
                           <tbody >
                               <tr *ngFor="let user of userDataList let i = index">
                                   <td>
                                       <button type="button" class="btn waves-effect waves-light btn-sm btn-success" (click)="submit(user.id, user.status)">
                                           Submit
                                       </button>
                                   </td>
                                   <td>{{i +1}}</td>
                                   <td>{{user.id}}</td>
                                   <td>{{user.name}}</td>
                                   <td>{{user.phone}}</td>
                                   <td>{{user.email}}</td>
                                   <td>{{user.company}}</td>
                                   <td>{{user.date_entry}}</td>
                                   <td>{{user.org_num}}</td>
                                   <td>{{user.address_1}}</td>
                                   <td>{{user.city}}</td>
                                   <td>{{user.zip}}</td>
                                   <td>{{user.geo}}</td>
                                   <td>{{user.pan}}</td>
                                   <td>{{user.pin}}</td>
                                   <td>{{user.status}}</td>
                                   <td>{{user.fee}}</td>
                                   <td>{{user.guid}}</td>
                                   <td>{{user.date_exit}}</td>
                                   <td>{{user.date_first}}</td>
                                   <td>{{user.date_recent}}</td>
                                   <td>{{user.url}}</td>
                               </tr>
                               
                           </tbody>
                           
                       </table>
                       
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
