<header class="topbar is_stuck" >
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div >
            <a class="nav-link" [routerLink]="['/responsive-table']">
                Responsive Table
            </a>
            <a class="nav-link" [routerLink]="['/infinite-scroll-table']">
                Infinite Scroll Table
            </a>
        </div>
    </nav>
 </header>