/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5;
    color: #67757c;
    text-align: left;
    background-color: #eef5f9;
}
html {
    position: relative;
    min-height: 100%;
    background: #fff; 
}


html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  color: #67757c;
  text-align: left;
  background-color: #eef5f9; }


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

th {
  text-align: inherit; }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #455a64; }

h1, .h1 {
  font-size: 2.25rem; }

h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 1.3125rem; }

h4, .h4 {
  font-size: 1.125rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 0.875rem; }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }


.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #67757c; 
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #f3f1f1; 
}
.table thead th {
    vertical-align: bottom;
    /* border-bottom: 2px solid #f3f1f1;  */
}
.table tbody + tbody {
    border-top: 2px solid #f3f1f1; 
}

.table thead th {
    background: #f3f1f1;
    /* color: #fff; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 11111;
  }
.table-responsive {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  /* overflow-x: auto; */
  overflow: auto;
  height: 350px;
  -webkit-overflow-scrolling: touch; 
}

  .table-responsive > .table-bordered {
    border: 0; 
}


.card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.card-no-border .card {
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
.card-no-border .card {
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
.card {
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}


.no-wrap td,
.no-wrap th {
  white-space: nowrap; 
}

.page-wrapper {
    background: #eef5f9;
    padding-bottom: 200px;
}
.container-fluid {
    padding: 40px 30px 25px 30px;
 }
.container-fluid {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ngx-pagination {
  margin-left: 30%!important;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
 
.btn-success {
  color: #fff;
  background-color: #21c1d6;
  border-color: #21c1d6;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 7px 12px;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.topbar {
  background: #2196f3;
}
.topbar {
  position: relative;
  z-index: 50;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}
.topbar .top-navbar {
  min-height: 70px;
  padding: 0px 15px 0 0;
  position: sticky;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.nav-link{
  padding: 10px 35px 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    white-space: nowrap;
    color: #fefefe;
    text-decoration: none;
}